---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
---
<BaseLayout>
  <Navbar />
  <main>
    <p class="text-navy-darkest p-8">Secciones en construcción...</p>
  </main>
</BaseLayout>
